{% load rest_framework %}

    {% load rest_framework %}

    <html>
    <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
      <link rel="stylesheet"
      href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<link rel="stylesheet"
     href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>


    <body>
    <h1>Categories</h1>
    <div class="list-group">
         {% for cate in category %}
        <li class = "list-group-item" id="{{cate.id}}">{{cate.name}} <a id="menu-toggle" href="#" class="btn btn-default" onclick="valueglyph({{cate.id}})">
            <i class="glyphicon glyphicon-remove"></i></a></li>
          {% endfor %}
    </div>
    <div>Category Name: <input id = "name" type="text"></div>
    <div>Description: <input id = "description" type="text"></div>
    <div id="radioDiv">
    <input type="radio" name="findCategory" value="category" onclick="showParent()">Category<br>
    <input type="radio" name="findCategory" value="subcategory" onclick="showParent()">SubCategory
    </div>
        <div id="parentdiv">Parent: <select id="parent">
        {% for cate in category %}
           <option value="{{cate.id}}">{{cate.name}}</option>
        {% endfor %}
    </select></div>
    <button onclick="addValues()"> Add Category</button>

    <script>

        var data = {};

          function valueglyph(value)
          {
             data['id'] = value
              alert(value);
          }

        $.ajax({
    url: '/deletecategory/',
    type: 'post',
    data : data,
    success: function(data) {
        alert(data.success);
    },
    failure: function(data) {
        alert(data.failure);
    }
});

    </script>

    </body>

    </html>